;
; PicoTTS Configuration
;
[general]
;
; Use cache (yes, no - defaults to no)
;
;usecache=no
;
; If usecache=yes, a directory to store waveform cache files.
; The cache is never cleared (yet), so you must take care of cleaning it
; yourself (just delete any or all files from the cache).
; THIS DIRECTORY *MUST* EXIST and must be writable from the asterisk process.
; Defaults to /tmp/
;
;cachedir=/var/lib/asterisk/picottscache/
;
; Language (defaults to en-US)
; 
; Available languages:
;	en-US (American english)
;	en-GB (british english)
;	de-DE (German)
;	es-ES (Spanish)
;	fr-FR (French)
;	it-IT (Italian)
;
;language=en-US
;
; Target sample rate for the generated sound files in Hz (default is 8000)
; For now app_picotts supports generation of 8000Hz or 16000Hz sound files
; so possible values are only 8000 and 16000. If set to another value it will
; automatically fall back to 8000Hz.
;
;samplerate=8000
;
;
;
; Sox volume adjustment factor. Use to adjust volume.
; Default is 1.0 - does not change pico2wave volume.
; 0.5 would reduce volume, 1.5 would increase.
; Increasing will probably cause distortion.
; See sox documentation.
; 
;volume=1 
